
@import url("https://use.typekit.net/jys4ekk.css");

html, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: brother-1816, sans-serif;
	font-weight: 1;
	font-size: 10px;
}

section {
	padding: 4rem 0;
}

img {
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: url("images/sitebg.jpg") no-repeat center fixed;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #000000;
}

h1 {
	font-family: fieldwork, 'arial',  sans-serif;
	font-weight: 400;
}



/*reusable*/
.container {
	width: 90%;
	max-width: 600px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.section-heading {
	text-align: center;
}

.section-heading h1 {
	font-size: 4rem;
	color: rgba(0, 0, 0, 1);
	font-weight: 300;
	position: relative;
}

/*reusable*/

/*header*/

.homepage-link {
	position: absolute;
	margin: 5rem 5rem 5rem 4rem;
}

.homepage-link:hover,
.homepage-link:focus{
	background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.homepage-link a {
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 25px;
	border-style: solid;
	border-width: 2px;
	padding: 5px;
}

header{
	width: 100%;
	height: 15vh;
}

.top-nav{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background-color: #0f2027;
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
	list-style: none;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

li {
	margin: 0 2rem;
}

.nav-link{
	font-family: fieldwork;
	color: #ffffff;
	font-size: 5rem;
	padding: .5rem;
}

.nav-link:hover,
.nav-link:focus{
	background: #ffffcc;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.top-nav.open{
	top: 0;
	border-radius: initial;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
}

.dropdown-content a {
	font-family: Montserrat;
	font-size: 3rem;
	color: #ffffff;
	padding: 1rem;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a:hover {
	color: #ffffcc;
}

.menu-toggler{
	position: absolute;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition: transform 650ms ease-out;
}

.menu-toggler.open{
	transform: rotate(-45deg);
}

.bar{
	background: linear-gradient(to right, #203a43, #2c5364);
	width: 100%;
	height: 4px;
	border-radius: .8rem;
}

.bar.half{
	width: 50%;
}

.bar.start{
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
	transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
	align-self: flex-end;
	transform-origin: left;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
	transform: rotate(-450deg) translateX(-.8rem);
}

/*header*/

.project-content {
	justify-content: center;
}

.project-content h1 {
	font-size: 30px;
}

.project-content p {
	font-size: 17px;
} 

.project .container{
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: auto;
}

p.description {
	padding-top: 12px;
	padding-bottom: 30px;
	clear: both;
	font-size: 17px;
}

ul.description-list {
	font-family: brother-1816, arial, sans-serif;
	line-height: 130%;
	font-size: 18px;
	font-weight: 1;
	list-style-type: disc;
	padding-bottom: 40px;
	padding-left: 25px;
}

li {
	font-size: 17px;
}

.project-wireframe {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.project-img {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}

.project-prototype {
	padding: 1rem;
	justify-content: center;
}

iframe {
	margin: 0 auto;
	display: block;
}

.button-container {
	text-align: center;
}

.next {
		font-family: brother-1816, sans-serif;
		margin: 0 auto;
		font-size: 18px;
		clear: both;
		display: inline-block;
		margin: 5px;
	}

.next:hover,
.next:focus{
	background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.back {
		font-family: brother-1816, sans-serif;
		margin: 0 auto;
		font-size: 18px;
		clear: both;
		display: inline-block;
		margin: 5px;
}

.back:hover,
.back:focus{
	background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*footer*/

.copyright{
	width: 100%;
	text-align: center;
	padding: 2rem 0;
	position: relative;
	background-color: #0f2027;
}

.copyright p{
	font-size: 1rem;
	color: #ffffff;
}
/*footer*/
